{{ partial "head.html" .}}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Toolkit</h1>
            <p class="lead" data-font="chanyu.ttf">小工具～</p>
        </div>
        {{ range (.Paginate ( sort .Pages "Params.priority" "desc")).Pages}}
            <div class="list-item {{if .Draft}}warning{{end}}">
                <h1>{{.Title}}<a href="{{.Permalink}}" class="link-qr"><i class="fas fa-link" style="font-size: 30px;padding-left: 5px;"></i></a></h1>
                {{ .Content }}
            </div>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
{{ partial "tail.html" .}}