@import "./mixins/rainbow.scss";

div.tool-main {
	border-radius: .3rem;
	padding: 2rem 2rem;
	background-color: rgba($gray-100, 0.8);
}

article {
	border-radius: .3rem;
	padding: 2rem 2rem;
	background-color: rgba($gray-100, 0.8);
	pre {
		background-color: #eed;
	}
	div.highlight {
		margin-bottom: 1rem;
		pre {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.hash-link {
		font-size: 20px;
		padding-left: 10px;
	}
	& > h1 {
		display: inline-block;
		margin-bottom: 1rem;
		&::before {
			content: '#';
			display: inline-block;
			font-family: 'Georgia', 'Times New Roman', serif;
			font-size: 50px;
			line-height: 50px;
			font-weight: 700;
			color: $main-fg;
			text-align: left;
			-webkit-font-smoothing: antialiased;
			top: 29px;
			left: 0px;
			padding-right: 20px;
		}
	}
	& > h2 {
		display: inline-block;
		margin-bottom: 0.8rem;
		&::before {
			content: '##';
			display: inline-block;
			font-family: 'Georgia', 'Times New Roman', serif;
			font-size: 30px;
			line-height: 30px;
			font-weight: 700;
			color: $main-fg;
			text-align: left;
			-webkit-font-smoothing: antialiased;
			top: 29px;
			left: 0px;
			padding-right: 10px;
		}
	}
	img {
		width: 100%;
		max-height: auto;
	}
	& > blockquote {
		&::before {
			content: '”';
			display: block;
			width: 90px;
			font-family: 'Georgia', 'Times New Roman', serif;
			font-size: 72px;
			line-height: 72px;
			font-weight: 700;
			color: $main-fg;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			top: 29px;
			left: 0px;
		}
		p {
			font-size: 28px;
			font-style: italic;
			color: #555;
		}
		padding: 30px 30px 30px 90px;
		border-radius: 3px;
		background: #eaeaea;
		position: relative;
		cite {
			font-size: 16px;
			color: $gray-600;
			display: block;
			margin-top: 25px;
		}
		:last-child {
			margin-bottom: 0px;
		}
	}
	li > table {
		thead {
			background: $gray-500;
		}
		tbody {
			tr {
				@include rainbow(.25);
			}
		}
		td {
			text-align: center;
			border: 1px solid;
		}
	}
	& > table {
		margin: 1rem 0rem;
		thead {
			background: $gray-500;
		}
		tbody {
			tr {
				@include rainbow(.25);
			}
		}
		td {
			text-align: center;
			border: 1px solid;
			padding: 2px 5px;
		}
	}
	* {
		@include rainbow-selection(.25);
	}
}