{{ partial "head.html" .}}
    {{ $wordCount := 0}}
    {{ range .Pages -}}
        {{ $wordCount = add $wordCount (.Plain | countwords) }}
    {{- end }}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Blog</h1>
            <p class="lead" data-font="chanyu.ttf">小透明的小想法～～</p>
            <hr class="my-4" />
            <p class="text-muted" data-font="chanyu.ttf">{{len .Pages}} 篇文章, {{$wordCount}}字。</p>
        </div>
        {{ range .Paginator.Pages }}
            {{ partial "articlemeta.html" .}}
        {{ end }}
        {{ template "_internal/pagination.html" . }}
    </div>
{{if .Site.Params.enableDisqus}}<script id="dsq-count-scr" src="//eternalflame-cn.disqus.com/count.js" async></script>{{end}}
{{ partial "tail.html" .}}