---
title: QR Code Generator
date: 2018-12-24T08:00:00+00:00
priority: 0
---
<style scoped>
    img#qr-img {
        min-width: 20%
    }
</style>
<form>
    <div class="form-group">
        <input name="text" id="qr-text" placeholder="Text here" class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Error Tolerance Level</label>
        <select id="qr-tolerance" class="form-control">
            <option value="highest">Highest</option>
            <option value="high">High</option>
            <option value="medium" selected>Medium</option>
            <option value="low">Low</option>
        </select>
    </div>
    <div class="form-group">
        <button id="qr-gen" class="btn btn-primary form-control">Generate</button>
    </div>
</form>

<img id="qr-img" class="img-fluid"/>

<script>
    document.querySelector("#qr-gen").onclick = function(e) {
        e.preventDefault();
        let tol = document.querySelector("#qr-tolerance").value;
        let text = document.querySelector("#qr-text").value;
        document.querySelector("#qr-img").src=`/.netlify/functions/qr?text=${encodeURIComponent(text)}&level=${tol}&minwidth=${window.screen.width*0.2}`
    }
</script>