{{ partial "head.html" .}}
    <div class="container">
        <div class="jumbotron jumbotron-narrow">
            <h3 class="display-4" data-font="chanyu.ttf">{{ .Title }}</h3>
            {{if .Draft }}
                <i class="fas fa-edit text-danger">Draft</i> <br />
            {{end}}
            {{ if .Params.signature }}<hr class="my-4" /><p class="text-muted" data-font="chanyu.ttf">{{ .Params.signature }}</p>{{end}}
        </div>
        <article>
        {{ .Content }}
        </article>
        {{ partial "article_includes.html" .}}
        {{ partial "disqus.html" .}}
    </div>
{{ partial "tail.html" .}}