{{ partial "head.html" .}}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{.Data.Term}}</h1>
            <p class="text-muted">This is a list for articles of {{.Data.Singular}}: {{.Data.Term}}</p>
        </div>
        {{ range .Data.Pages }}
            {{ partial "articlemeta.html" .}}
        {{ end }}
    </div>
{{ partial "tail.html" .}}