$rainbow_1: rgb(255,150,155);
$rainbow_2: rgb(255,190,129);
$rainbow_3: rgb(250,244,123);
$rainbow_4: rgb(204,250,158);
$rainbow_5: rgb(157,236,255);
$rainbow_6: rgb(212,169,255);
@mixin rainbow-selection($alpha) {
    &:nth-child(6n+1)::selection {
        background:rgba($rainbow_1,$alpha);
    }
    &:nth-child(6n+2)::selection {
        background:rgba($rainbow_2,$alpha);
    }
    &:nth-child(6n+3)::selection {
        background:rgba($rainbow_3,$alpha);
    }
    &:nth-child(6n+4)::selection {
        background:rgba($rainbow_4,$alpha);
    }
    &:nth-child(6n+5)::selection {
        background:rgba($rainbow_5,$alpha);
    }
    &:nth-child(6n+6)::selection {
        background:rgba($rainbow_6,$alpha);
    }
}
@mixin rainbow($alpha) {
    @include rainbow-selection($alpha*2);
    &:nth-child(6n+1) {
        background:rgba($rainbow_1,$alpha);
    }
    &:nth-child(6n+2) {
        background:rgba($rainbow_2,$alpha);
    }
    &:nth-child(6n+3) {
        background:rgba($rainbow_3,$alpha);
    }
    &:nth-child(6n+4) {
        background:rgba($rainbow_4,$alpha);
    }
    &:nth-child(6n+5) {
        background:rgba($rainbow_5,$alpha);
    }
    &:nth-child(6n+6) {
        background:rgba($rainbow_6,$alpha);
    }
}