<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}{{if not .IsHome}} | eternal-flame-AD{{end}}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    {{ partial "head_includes.html" . }}

    <!-- Custom Font start -->
    {{if not .Site.Params.hasFontSubset }}
    <script>
        window.onload = function() { 
                console.log("Adding custom fonts")
                const template = `
                @font-face {
                    font-family: <fa>;
                    src: url(<url>);
                }
                [data-font="<ff>"] { 
                    font-family: <fa>,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
                }
                `
                let nodes = document.querySelectorAll("[data-font]")
                let fonts = [];
                for (let node of nodes) {
                    let ff = node.getAttribute("data-font");
                    if (!fonts.includes(ff)) {
                        fonts.push(ff)
                    }
                }
                let style = "";
                for (let font of fonts) {
                    let fa = font
                    if (fa.indexOf(".")!==-1) {
                        fa = fa.substr(0,fa.indexOf("."))
                    }
                    style += template.replace(/<fa>/g, fa).replace(/<ff>/g, font).replace(/<url>/g, "/fonts/"+font)
                }
                
                function appendStyle(styles) {
                    var css = document.createElement('style');
                    css.type = 'text/css';

                    if (css.styleSheet) css.styleSheet.cssText = styles;
                    else css.appendChild(document.createTextNode(styles));

                    document.getElementsByTagName("head")[0].appendChild(css);
                }

                appendStyle(style)
        };
    </script>
    {{end}}
    <!-- Custom Font end -->

</head>
<body lang="en">
    {{ partialCached "navbar.html" . .Section .Dir}}