        <footer>
            <hr />
                <section class="link-exchange">
                    {{ $links := slice }}
                    {{ range .Site.Params.friends }}
                        {{ $name := .name }}
                        {{ range $v, $p := .platforms }}
                            {{ $links = (append $links (slice ((printf `--&gt;&nbsp;要不要考虑看一下:&nbsp; %s 的 %s: <a href="%s">%s</a>&nbsp;('・ω・')&nbsp;&lt;--` $name $p.key $p.url $p.name) | safeHTML)) )}}
                        {{ end }}
                    {{ end }}
                    {{partial "choose_from.html" ( dict "key" ( add .RelPermalink "Jan 2 15:04:05 2006 MST" | now.Format) "val" $links )}}
                </section>
                <section class="copyright">
                    © {{now.Format "2006"}} Eternal-flame-AD
                </section>
                <section class="atttributions">
                    <div class="text-middle text-muted">Managed with GitLab. Generated with Hugo. Hosted on Netlify. <br />
                    <a href="{{ ref . "/site-info/index.md" }}">Site Info and Attributions</a><br /> </div>
                </section>
        </footer>
    </body>
    {{partial "explicitcmt.html" (add "Site built at " (now.Format "2006-01-02T15:04:05Z07:00"))}}
</html>