<!-- Navbar Color start -->
<meta name="theme-color" content="#ffb7dd">
<!-- Navbar Color end -->
<!-- Bootstrap4 start -->
<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	crossorigin="anonymous"></script>
<script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
    integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous"></script>
{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "node_modules/bootstrap")) }}
{{ $style := resources.Get "theme.scss" | resources.ToCSS $options | resources.PostCSS (dict "config" "postcss.config.js" "noMap" true) }}
{{ $fStyle := $style | resources.Fingerprint "md5" }}
<link rel="stylesheet" href="{{ $fStyle.Permalink }}" />
<!-- Bootstrap4 end -->

<!-- Fireworks start -->
<script src="{{(resources.Get "/js/anime.min.js" | fingerprint "md5").Permalink}}"></script>
<script async src="{{(resources.Get "/js/fireworks.js" | minify | fingerprint "md5").Permalink}}"></script>
<!-- Fireworks end -->