{{ partial "head.html" .}}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Eternal-flame-AD</h1>
            <p class="lead" id="signature" data-font="chanyu.ttf"><noscript>{{index (shuffle .Site.Data.signature.signature) 0}}</noscript>{{range .Site.Data.signature.signature}}<span style="display:none" class="signature-item">{{.}}</span>{{end}}</p>
            <script>
                var s = document.querySelector("#signature").querySelectorAll("span.signature-item");
                s[Math.floor(Math.random()*s.length)].setAttribute("style","");
            </script>
            <hr class="my-4" />
            <p class="text-muted">Please choose an action from the navbar.</p>
        </div>
    {{ partial "twitter.html"}}
    </div>
{{ partial "tail.html" .}}