<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.bilibili.com/player.html?aid={{index .Params 0}}" frameborder="0" allowfullscreen></iframe>
</div>