{{ $entrophy := ""}}
{{ $t := (append .Params (slice (now.Format "Mon Jan 2 15:04:05 MST 2006")))}}
{{range $t}}
    {{$entrophy = add $entrophy .}}
{{end}}
{{ $id := substr (md5 $entrophy) 8}}
<div id="{{$id}}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#{{$id}}" data-slide-to="0" class="active"></li>
    <li data-target="#{{$id}}" data-slide-to="1"></li>
    <li data-target="#{{$id}}" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {{range $i, $img := .Params}}
        <div class="carousel-item{{if (eq $i 0)}} active{{end}}">
            <img class="img-fluid" src="{{$img}}" alt="First slide">
        </div>
    {{end}}
  </div>
  <!--<a class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
</div>