<table id="friends">
    <thead>
        <tr>
            <td>Name</td>
            <td><i class="fab fa-github-alt"></i></td>
            <td><i class="fab fa-twitter"></i></td>
            <td><i class="fas fa-globe-americas"></i></td>
        </tr>
    </thead>
    <tbody>
        {{range .Site.Params.friends}}
            <tr>
                <td>{{.name}}</td>
                <td>{{if ne .platforms.github nil}}{{with .platforms.github}}<a href="{{.url}}">{{.name}}</a>{{end}}{{end}}</td>
                <td>{{if ne .platforms.twitter nil}}{{with .platforms.twitter}}<a href="{{.url}}">{{.name}}</a>{{end}}{{end}}</td>
                <td>{{if ne .platforms.blog nil}}{{with .platforms.blog}}<a href="{{.url}}">{{.name}}</a>{{end}}{{end}}</td>
            </tr>
        {{end}}
    </tbody>
</table>